@media (max-width: 1400px) {
  section#top {
    flex-direction: column;
    padding-top: 20px;
  }

  #technical-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .slider-nav {
    display: none;
  }

  #projects-board {
    width: 700px;
  }
}

@media (max-width: 800px) {
  #nav {
    display: none;
  }

  header {
    height: 70px;
  }

  #desktop-img {
    display: none;
  }

  .mode-label {
    padding: 20px;
  }

  .skill-page{
    display: grid;
    grid-template-columns: auto auto;
  }
  
  #projects-board {
  display: flex;
  width: 250px;
  }
}