@media (max-width: 1400px) {
  body{
    overflow-x: hidden;
  }

  section#top {
    flex-direction: column;
    padding-top: 20px;
  }

  #technical-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
  }

  .slider-nav {
    display: none;
  }

  #projects-board {
    width: 700px;
  }

  #gallery {
    width: 70vw;
  }
}

@media (max-width: 800px) {
  body{
    overflow-x: hidden;
  }

  .subheader {
    font-size: 18px;
  }
  
  #nav {
    display: none;
  }

  #desktop-img {
    display: none;
  }

  .mode-label {
    padding: 17px;
  }

  .skill-page {
    display: grid;
    grid-template-columns: auto auto;
  }

  #projects-board {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 0;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #menu-icon {
    display: block;
  }

  #menu-trigger:focus + #menu {
    display: block !important;
  }

  #menu:hover {
    display: block !important;
  }

  #gallery {
    width: 80vw
  }

}
