:root {
  --primary-color: #6c65d9;
  --border-raduis: 8px;
  --background-color: #fff;
  --font-color: black;
  --label-color: black;
  --label-background-color: white;
  color: var(--font-color);
  font-weight: normal;
}

  body:has(#darkmode:checked) {
  /* dark mode */
  --background-color: #212129;
  --font-color: white;
  color: var(--font-color);
}

body {
  background-color: var(--background-color);
  margin: 0;
  height: 200vh;
}
header {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  border-bottom: 1px solid var(--background-color);

  position: sticky;
  top: 0;
  z-index: 10;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 10px;
}

#nav li a,
#nav li a:visited {
  padding: 10px;
  margin: 7px;
  color: white;
  letter-spacing: 1px;
  background-color: var(--primary-color);
  border-radius: var(--border-raduis);
  text-decoration: none;
}
#nav li a:active {
  background-color: var(--primary-color);
}

#logo {
  display: inline-block;
  margin-right: auto;
  margin-left: 15px;
  color: white;
}

#experience {
  margin: -100px 50px 0 0;
}

#experience li {
  list-style: none;
  border-left: 2px solid var(--primary-color);
  margin-bottom: 10px;
  padding: 0 10px;
}

section:not(#top):not(#contact) {
  padding-top: 40px;
  margin: 0 50px;
  border-bottom: 1px solid var(--primary-color);
}

#top {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

#top h1 {
  margin: 0 50px;
  display: inline-block;
  line-height: 60px;
  font-weight: bold;
  font-size: 40px;
}

.subheader {
  text-transform: uppercase;
  font-weight: normal;
  color: var(--primary-color);
  padding: 3px 10px;
  border-inline: 1px solid var(--primary-color);
  font-weight: bold;
}

.subheader::before {
  content: "";
  padding: 0 10px;
  border-left: 2px solid var(--primary-color);
}

.subheader::after {
  content: "";
  padding: 0 10px;
  border-right: 2px solid var(--primary-color);
}

.skill {
  border: 1px solid transparent;
  padding: 5px;
  transition: 0.4s ease-in-out;
  margin: 5px;
  text-align: center;
  word-wrap: normal;
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  border-radius: var(--border-raduis);
}

.skill:hover {
  transition: 0.3s ease-in-out;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-raduis);
}
.skill:hover {
  display: block;
}
.skill:hover::before {
  display: block;
  content: attr(data-content);
  font-size: 20px;
  font-weight: bold;

  text-align: center;
  position: relative;
  text-align: center;
  top: 40%;
}

.skill:hover img {
  display: none;
}

th {
  width: 200px;
}

#technical-skills {
  display: flex;
  width: 1000px;
  position: relative;
  margin: 10px auto 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0 100px;
  border-inline: 2px solid var(--primary-color);
}

#skills-board {
  display: grid;
  grid-template-rows: auto auto;
}

.skill-page {
  display: flex;
  align-items: center;
  margin: 10px;
}
#skill-page1,
#skill-page2,
#skill-page3,
#skill-page4,
#skill-page5 {
  border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: var(--border-raduis);
  text-align: center;
  margin: 10px;
}

.skills-toggle {
  background-color: white;
  display: inline-block;
  width: 25px;
  height: 7px;
  border: 1px solid black;
  text-decoration: none;
  border-radius: var(--border-raduis);
}
.skills-toggle:hover {
  background-color: grey;
  transition: 0.5s ease-in-out;
}
.skills-toggle:focus {
  background-color: green;
}

.slider-nav {
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: var(--border-raduis);
  padding: 10px 2px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  margin-bottom: 20px;
}

.proj {
  position: relative;
  width: 250px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-raduis);
}

.proj:hover {
  box-shadow: 1px 1px 10px 1px var(--primary-color);
  transition: 0.1s ease-in-out;
}

.proj-content {
  position: absolute;
  top: 0;
  left: 10px;
  display: none;
}

.proj:hover .proj-img {
  opacity: 15%;
}

.proj:hover .proj-content {
  display: block;
  margin: auto auto;
}

.repo-link {
  color: white;
  background-color: var(--primary-color);
  text-decoration: none;
  padding: 5px;
  border-radius: var(--border-raduis);
}

#projects-board {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 1000px;
  margin-bottom: 20px;
}

.inline-link {
  color: var(--primary-color);
}

input,
textarea {
  padding: 5px;
  margin: 10px 0;
}
input + label {
  left: -180px;
}

textarea {
  width: 300px;
  height: 150px;
  resize: none;
}

textarea + label {
  left: 5px;
  top: -170px;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  top: -15px;
  background-color: white;
}

textarea:focus + label,
textarea:not(:placeholder-shown) + label {
  top: -185px;
  background-color: white;
}

input:focus,
textarea:focus {
  outline: none;
}

label {
  position: relative;
}

section:not(#top) {
  display: flex;
  align-items: center;
  justify-content: ceneter;
  flex-direction: column;
}

#contact-form {
  background-color: #fefefe;
  color: black;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border: 1px dashed var(--primary-color);
  border-radius: var(--border-raduis);
}

.input-field {
  width: 90%;
}

input,
textarea {
  border-radius: 3px;
  border: 1px solid lightgrey;
}

#contact-form button {
  width: 80%;
  background-color: var(--primary-color);
  color: white;
  padding: 4px 2px;
  border: transparent;
  border-radius: 3px;
}

#darkmode {
  display: none;
}

.mode-label {
  display: none;
}

#darkmode:checked ~ #dark-label {
  display: block;
  color: black;
  background-color: transparent;
  text-decoration: underline;
  margin-right: 20px;
}

#darkmode:not(:checked) ~ #light-label {
  margin-right: 20px;
  text-decoration: underline;
  display: block;
  color: white;
}

footer {
  background-color: var(--primary-color);
  color: white;
  margin-top: 150px; 
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
}